.haos_center {
  text-align: center;
  
}

div#haos_centered_div {
  text-align: center;
}
#haos_centered_div ul {
  text-align: left;
  display: inline-block;
}

#haos_centered_div table {
  display: inline-block;
  border: 50px;
}

.haos_green {
  color: green;
}

p#haos_blue_para {
  color: blue;
}
